body {
	font-family: Arial;
}

.b-iframe {
	display: none;
}

.b-progress-bar-current,
.b-progress-bar-all {
	position: relative;
	margin: 5px 0 10px 0;
	width: 300px;
	height: 15px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.b-progress-bar-current__progress,
.b-progress-bar-all__progress {
	width: 20px;
	height: 15px;
	background: linear-gradient(to top, #b5bdc8 0%, #828c95 40%, #28343b 50%, #828c95 90%, #b5bdc8 100%);
	border-radius: 5px;
}

.b-iframe-cavas {
	width: 300px;
	height: 300px;
}

.b-created-canvas {
	background-color: red;
	border: 1px solid #000;
}